form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;


}
input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;


}
.para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 25px;



}
.para-2 a {
    color: #49c1a2;
    margin: 0;
    padding:0;

}


footer{
    border: 5px solid black;
    background-image: linear-gradient(#c31432, #240b36);
    color: #F7FFF7;
    margin-top: 30px;
    margin-bottom:-5px;
    padding: 0;
}

.contact-list{
    margin-right: 10px;
    margin-left: 10px;
    display:flex;
    list-style-type:none;
    padding: 0;
    justify-content: space-between;
}
