body{
    background-color: #f5f5dc;
    font-family: "Roboto", sans-serif;
    margin:0;
    padding: 0;
}
header{
    text-align: left;
    color:white;
    margin:0;
    padding: 0;
}

.topnav{
    background-image: linear-gradient(#c31432, #240b36);
    border: 5px solid black;
;
}
/* ------------------------TeacherHomepage----------------------- */


.header h1{
    position: relative;
    top: 18px;
    left: 10px;
    margin-left: 5px;

}

.header img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 5px solid black;
    float: left;
}

.list-classes{
    width: 360px;
    height: 320px;
    text-align: left;
    background-color: #ADD8E6;
    border-radius: 3px;
    margin: 0;
    border: 5px solid black;
}
.list-classes p, h3{
    margin-left: 15px;
    font-size: 16px;
}

.graded-assignments {
    width: 360px;
    height: 80px;
    text-align: left;
    background-color: #ADD8E6;
    border-radius: 3px;
    margin-top: -10px;
    border: 5px solid black;

}

.graded-assignments p{
    margin-left: 5px;
}


/*-------------------TeacherCertainClass------------------------ */
.math-class{
    margin-top: -20px;
    margin-bottom: -15px;
    padding: 5px;



}

.math-class img{
    margin-left: 15px;
    border: 5px solid black;
}


.student-roster{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
    margin-right: 5px;
}

.btn{

    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.text{
    display: block;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 20px;
    width: 460px;
    height: 220px;
}

footer{
    border: 5px solid black;
    background-image: linear-gradient(#c31432, #240b36);
    color: #F7FFF7;
    margin-top: 30px;
    margin-bottom:-5px;
    padding: 0;
}
