<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/mycss.css">
</head>

<body>
  <header>
    <nav class="navbar sticky-top navbar-light" style="background-color: hsl(335, 92%, 43%);">
      <img src="images/chalkboardlogo.jpg" alt="Logo" class="logo" height="70" width="100">
      <a href="./index.html" class="btn btn-warning" style="position: absolute; top: 2rem; right:2.5rem ">Log
        Out</a>

    </nav>
    <div class="text-center" id="search">
      <input type="text" placeholder="Search..">
    </div>
  </header>
  <div class="text-center">
    <h1>Sign Up</h1>
    <form class="form-inline">
      <label class="mb-3">First Name</label>
      <input type="text" placeholder="" /><br>
      <label class="mb-3">Last Name</label>
      <input type="text" placeholder="" /><br>
      <label class="mb-3">Email</label>
      <input type="email" placeholder="" /><br>
      <label class="mb-3">Password</label>
      <input type="password" placeholder="" /><br>
      <label class="mb-3">Confirm Password</label>
      <input type="password" placeholder="" /><br>
      <input type="button" value="Submit" class="btn btn-success" />
    </form>
    <p style="padding-top: 50px;">
      By clicking the Sign Up button,you agree to our <br />
      <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
    </p>
  </div>
  <p class="text-center">
    Already have an account? <a href="./index.html" class="btn btn-warning">Login here</a>
  </p>

  <footer class="sticky-bottom" style=" margin-top:300px">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" href="#">King's College</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:12345@email.com">12345@email.com</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">(000)-(111)-(2222)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">100 St. Ave Z. New York,NY 00001</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">&copy; 2021</a>
      </li>
    </ul>
  </footer>

</body>

</html>